.main-container {
  width: 70%;
  height: 500px;
  background-color: skyblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 50%;
  height: 100%;
  background-color: grey;

  position: relative;
}

.todoList {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  /* overflow-y: auto; */
  background-color: yellowgreen;
}
