.text {
  width: 50px;
  height: 20px;
  box-sizing: border-box;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* padding: 10px; */
  background-color: pink;
}
.completedText {
  text-decoration: line-through;
  background-color: yellowgreen;
}

.item-Container {
  width: 500px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  background-color: skyblue;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1px solid rgb(134, 134, 134);
}
